# PHP & environment
/vendor/
/node_modules/
/.env
*.log
*.cache
*.DS_Store
*.sql

# IDE / editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS / temp
Thumbs.db
desktop.ini
styles/pages/admin_users_print.css
styles/pages/admin_users_list.css
styles/pages/admin_users_import.css
styles/pages/admin_users_export.css
styles/pages/admin_users_edit.css
styles/pages/admin_users_add.css
styles/pages/admin_members_search.css
styles/pages/_global_admin_rights_list.css
styles/pages/_global_admin_members_list.css
pdf/admin_users_view.json
admin_members_list.php
admin_members_search.php
admin_rights_list.php
admin_rights_search.php
admin_users_add.php
admin_users_edit.php
admin_users_list.php
admin_users_view.php
admin_users_print.php
admin_users_export.php
admin_users_import.php
admin_users_search.php
pdf/admin_users_print.json
templates/admin_users_add.htm
templates/admin_users_edit.htm
templates/admin_users_list.htm
templates/admin_users_view.htm
templates/admin_users_print.htm
include/admin_users_settings.php
templates/admin_users_export.htm
templates/admin_users_import.htm
templates/admin_users_search.htm
include/admin_rights_settings.php
include/admin_users_variables.php
include/admin_members_settings.php
include/admin_rights_variables.php
styles/pages/admin_users_view.css
templates/admin_members_search.htm
include/admin_members_variables.php
include/pages/admin_users_list.php
include/pages/admin_users_view.php
include/pages/admin_users_print.php
include/pages/admin_users_export.php
include/pages/admin_users_import.php
include/pages/admin_users_search.php
templates/_global_admin_rights_list.htm
templates/_global_admin_members_list.htm
include/pages/_global_admin_rights_list.php
include/pages/_global_admin_members_list.php
include/menunodes_adminarea.php
kelulusan.php
urus_dewan.php
bookings_add.php
bookings_edit.php
bookings_export.php
bookings_import.php
bookings_list.php
bookings_print.php
bookings_search.php
bookings_view.php
urus_dewan.php
userinfo.php
users_add.php
users_edit.php
users_export.php
users_import.php
users_list.php
users_print.php
users_search.php
users_view.php
lookup_references_add.php
lookup_references_edit.php
lookup_references_export.php
lookup_references_import.php
lookup_references_list.php
lookup_references_print.php
lookup_references_search.php
lookup_references_view.php
halls_add.php
halls_edit.php
halls_export.php
halls_import.php
halls_list.php
halls_print.php
halls_search.php
halls_view.php
bookings_add.php
bookings_edit.php
bookings_export.php
bookings_import.php
bookings_list.php
bookings_print.php
bookings_search.php
bookings_view.php
