[data-page="_global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page="_global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #1E90FF;
}
[data-page="_global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #1E90FF;
}
[data-page="_global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


